@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap');

*{
    font-family: 'Libre Bodoni', serif;
}

.total-center {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}

.dynamic-box{
    border: 9px solid #000;
    width: 500px;
    height: 500px;
    padding-top: 10px;
    text-align: center;
    color: #ff0000;
}

#boxs{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

#image-gif{
    display: none;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

#gif{
    width: 130px;
    height: 130px;
    border: solid 3px #000;
}

#gif-left{
    width: 130px;
    height: 130px;
    border: solid 3px #000;
}

.button-roll{
    border: 1px solid #000 !important;
    border-radius: 0px;
    width: 200px;
    margin-bottom: 20px;
}

.button-hold{
    border: 1px solid #000 !important;
    border-radius: 0px;
    width: 200px;
}

.buttons{
    display: grid;
    justify-content: center;
}

.btn{
    color: #ff0000 !important;
    text-decoration: none !important;
}

.total-text{
    color: #000;
    display: flex;
    justify-content: space-between;
    margin: 50px 32px 0px 14px;
}

#result{
    font-size: 36px;
    margin-bottom: 0px;
}

.none{
    display: none !important;
}

.flex{
    display: flex !important;
}

#first-face{
    display: block;
    border: solid 3px #000;
    width: 130px;
    height: 130px;
    padding-top: 1px;
}

#second-face{
    display: block;
    border: solid 3px #000;
    width: 130px;
    height: 130px;
    padding-top: 1px;
}

.first-row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 13px;
}

.second-row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 13px;
}

.thre-row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 13px;
}

.visibility{
    visibility: inherit !important;
}

#first-icon{
    visibility: hidden;
    border-radius: 100%;
    background-color: #000000;
    width: 30px;
    height: 30px;
}

#second-icon{
    visibility: hidden;
    border-radius: 100%;
    background-color: #000000;
    width: 30px;
    height: 30px;
}

#third-icon{
    visibility: hidden;
    border-radius: 100%;
    background-color: #000000;
    width: 30px;
    height: 30px;
}

#fourth-icon{
    visibility: hidden;
    border-radius: 100%;
    background-color: #000000;
    width: 30px;
    height: 30px;
}

#fifth-icon{
    visibility: hidden;
    border-radius: 100%;
    background-color: #000000;
    width: 30px;
    height: 30px;
}

#sixth-icon{
    visibility: hidden;
    border-radius: 100%;
    background-color: #000000;
    width: 30px;
    height: 30px;
}

#seventh-icon{
    visibility: hidden;
    border-radius: 100%;
    background-color: #000000;
    width: 30px;
    height: 30px;
}

#eighth-icon{
    visibility: hidden;
    border-radius: 100%;
    background-color: #000000;
    width: 30px;
    height: 30px;
}

#ninth-icon{
    visibility: hidden;
    border-radius: 100%;
    background-color: #000000;
    width: 30px;
    height: 30px;
}

#first-right-icon{
    visibility: hidden;
    border-radius: 100%;
    background-color: #000000;
    width: 30px;
    height: 30px;
}

#second-right-icon{
    visibility: hidden;
    border-radius: 100%;
    background-color: #000000;
    width: 30px;
    height: 30px;
}

#third-right-icon{
    visibility: hidden;
    border-radius: 100%;
    background-color: #000000;
    width: 30px;
    height: 30px;
}

#fourth-right-icon{
    visibility: hidden;
    border-radius: 100%;
    background-color: #000000;
    width: 30px;
    height: 30px;
}

#fifth-right-icon{
    visibility: hidden;
    border-radius: 100%;
    background-color: #000000;
    width: 30px;
    height: 30px;
}

#sixth-right-icon{
    visibility: hidden;
    border-radius: 100%;
    background-color: #000000;
    width: 30px;
    height: 30px;
}

#seventh-right-icon{
    visibility: hidden;
    border-radius: 100%;
    background-color: #000000;
    width: 30px;
    height: 30px;
}

#eighth-right-icon{
    visibility: hidden;
    border-radius: 100%;
    background-color: #000000;
    width: 30px;
    height: 30px;
}

#ninth-right-icon{
    visibility: hidden;
    border-radius: 100%;
    background-color: #000000;
    width: 30px;
    height: 30px;
}